/*Charset*/

body {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-weight: 400;
    color: #000;
    transition: all 0.4s ease-in-out;
    overflow-x: hidden;
}

a {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    color: #000;
}

a:hover {
    color: #097FF5;
}

p {
    font-family: 'Rubik', sans-serif;
    margin: 0 0 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 12px;
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 52px;
    line-height: 62px;
}

h2 {
    font-size: 45px;
    line-height: 55px;
}

h3 {
    font-size: 35px;
    line-height: 45px;
}

h4 {
    font-size: 30px;
    line-height: 40px;
}

h5 {
    font-size: 25px;
    line-height: 35px;
}

h6 {
    font-size: 22px;
    line-height: 22px;
}

ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    outline: 0 !important;
}

button:focus {
    box-shadow: none !important;
}

.form-group {
    margin-bottom: 22px;
    position: relative;
}

.form-control {
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(199, 206, 218, 0.25) !important;
    border: 2px solid #E2E2E2;
}

select.form-control {
    background-position: calc(100% - 10px) center !important;
    padding-right: 40px;
    background-size: 15px !important;
    background-repeat: no-repeat !important;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z" fill="%23726f6f" opacity="1" data-original="%23000000"></path></g></svg>');
}

.form-control option {
    text-transform: capitalize;
}

/*---------- LOGIN PAGE CSS START -----------*/
.account-card {
    max-width: 556px;
    background: #E5E5E5;
    padding: 60px;
}

.account-card h3 {
    text-align: center;
    margin-bottom: 25px;
    color: #0d6efd;
    text-transform: capitalize;
}

.account-card .form-control {
    height: 50px;
    border-radius: 0;
    border: 0;
    padding-left: 25px;
    font-size: 16px;
    border-left: 5px solid #097FF5;
    box-shadow: none !important;
}

.btn-primary {
    width: 100%;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 18px;
}

.forget-pass {
    margin-top: 10px;
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: #1673FF;
}

.gridblock-divide {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridblock-divide .column-2 {
    padding: 50px 0;
}

.gridblock-divide .column-1 {
    background: hsl(210deg 93% 50% / 50%);
}

.gridblock-divide .column-1 .content-inner {
    text-align: center;
    padding: 0 15px;
    max-width: 450px;
}

.logoimg {
    margin-bottom: 30px;
    padding-bottom: 40px;
    position: relative;
}

.logoimg:before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    width: 49px;
    height: 8px;
    background: #fff;
    margin: 0 auto;
}

.gridblock-divide .column-1 .content-inner p {
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}

.form-icon-password {
    position: absolute;
    right: 20px;
    top: 13px;
    display: block;
    width: 20px;
}

.form-icon-password img {
    max-width: 20px;
    width: 100%;
}

.form-icon-password:before {
    position: absolute;
    content: '';
    width: 2px;
    height: 24px;
    background: #000;
    transform: rotate(-41deg);
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}

.form-icon-password.eye-open:before {
    display: none;
}
#updateProfileForm .listbox{
    max-height: 140px;
}

/*---------- LOGIN PAGE CSS END -----------*/

/*---------- HOME PAGE CSS START -----------*/
header {
    padding: 25px 0;
    border-bottom: 1px solid #efefef;
}

header .container-fluid {
    max-width: 1850px;
    margin: 0 auto;
}

.bootstrap-select {
    margin-bottom: 0 !important;
}

.bootstrap-select .dropdown-toggle.btn-default:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle.btn-default {
    outline: 0 !important;
}

.bootstrap-select>.dropdown-toggle {
    align-items: center;
    display: flex;
    border: 1px solid #e2e2e2;
}

.header-main li a img {
    width: 30px;
}

.header-main-left .logo img {
    max-width: 200px;
}

.userimg {
    width: 58px;
    height: 58px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    border: 0;
    padding: 0;
    box-shadow: none !important;
    background: transparent !important;
    overflow: hidden;
}

.header-main .dropdown-menu {
    border: 0;
    box-shadow: 0px 5px 40px rgb(0 0 0 / 10%);
    border-radius: 12px;
}

.header-main .dropdown-menu li {
    margin-right: 0 !important;
}

.headerbtn {
    background: transparent;
    padding: 0;
    border: 0;
    height: 24px;
    width: 24px;
}

.userimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-main li:not(:last-child) {
    margin-right: 25px;
}

.search-identify .logo img {
    max-width: 570px;
}

.search-identify .logo {
    margin-bottom: 50px;

}

.inputWrapper input.form-control {
    height: 60px;
    border-left: 0;
    font-size: 18px;
    box-shadow: 0px 6px 64px rgba(199, 206, 218, 0.25) !important;
    padding-right: 60px;
    border: 1px solid #E2E2E2;
    border-radius: 0;
}

.inputWrapper button.search img {
    width: 100%;
    max-width: 35px;
}

.inputWrapper .search {
    border: 0;
    background: transparent;
    padding: 0;
    position: absolute;
    right: 18px;
    top: 13px;

}

section.mainwraaper-sec {
    padding: 100px 0;
    min-height: calc(100vh - 218px);
}

footer {
    background: #fff;
    padding: 40px 0;
    border-top: 1px solid #C6C6C6;
}

footer .container {
    max-width: 1400px;
}

.footer-links li a {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.footer-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*---------- HOME PAGE CSS END -----------*/

/*---------- PROFILE PAGE CSS START -----------*/
.container {
    max-width: 1750px;
}

.btn-blue {
    background: #24AED3;
    box-shadow: 0px 5px 15px rgb(36 174 211 / 40%);
}

.btn-green {
    background: #3CDD9B;
    box-shadow: 0px 5px 15px rgb(60 221 155 / 75%);
}

.btn-red {
    background: #EF0000;
    box-shadow: 0px 5px 15px rgb(239 0 0 / 36%);
}

.btn-orange {
    background: #FFAB61;
    box-shadow: 0px 5px 15px rgb(253 172 98 / 57%);
}

.btnsmall {
    color: #fff !important;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 10px 27px;
    transition: all 0.4s ease-in-out;
}

.btnsmall:hover {
    opacity: 0.8;
}

.buttongroup-block {
    gap: 20px;
}

.wrapperblock label {
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.upload-photo {
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(199, 206, 218, 0.25) !important;
    border: 2px solid #E2E2E2;
    text-align: center;
    margin-top: 33px;
}

.containers .imageWrapper {
    background: #F5F7F9;
    width: 116px;
    height: 116px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 100%;
}

.containers .imageWrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.file-upload {
    padding: 18px 10px;
    max-width: 237px;
    transition: all 0.4s ease-in-out;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: #0d6efd;
    border-radius: 12px;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    border: 0 !important;
    width: 100%;
}

.file-upload:hover {
    background: #3f53fe;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    color: #fff;
    border: 1px dashed #3f53fe;
}

.file-upload input.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
}

.listbox {
    max-height: 340px;
    overflow-y: auto;
}

.listbox-wrapper {
    border-radius: 20px;
    padding: 12px;
    box-shadow: 0px 4px 10px rgba(199, 206, 218, 0.25) !important;
    border: 2px solid #E2E2E2;
}

.checboxcont input {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: 0;
    box-shadow: none !important;
    background: transparent !important;
}

.checboxcont input:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 7px;
    box-shadow: 0px 4px 10px rgba(199, 206, 218, 0.25) !important;
    border: 2px solid #E2E2E2;
}

.checboxcont {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 500;
    position: relative;
    padding-left: 35px;
}

.checboxcont input:checked:after {
    position: absolute;
    content: '';
    border: 2px solid #000;
    width: 8px;
    height: 12px;
    border-top: 0;
    transform: rotate(45deg);
    border-left: 0;
    left: 8px;
    top: 3px;
}

.checboxcont:not(:last-child) {
    margin-bottom: 15px;
}

.listbox::-webkit-scrollbar,
.datablock::-webkit-scrollbar {
    width: 6px;
}

.listbox::-webkit-scrollbar-thumb,
.datablock::-webkit-scrollbar-thumb {
    background-color: #8E8E8E;
    border-radius: 30px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

/*---------- PROFILE PAGE CSS END -----------*/

/*---------- CHANNEL PAGE CSS START -----------*/
.list-creating-channel {
    border: 2px solid #E2E2E2;
    border-radius: 40px;
    padding: 40px;
    box-shadow: 0px 6px 64px rgba(199, 206, 218, 0.25) !important;
}

.list-creating-channel table thead th {
    font-size: 22px;
    padding: 20px 15px;
}

.list-creating-channel table tbody td {
    padding: 15px 15px;
    font-size: 18px;
}

.list-creating-channel .table thead th,
.list-creating-channel .table tbody tr td {
    border-bottom: 1px solid #E2E2E2 !important;
}

/*.list-creating-channel table tbody td:first-child,
.list-creating-channel table thead th:first-child  {
    width: 20%;
}*/
.list-creating-channel tbody tr:last-child td {
    border: 0 !important;
}

.edit-delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-delete button {
    background: transparent;
    border: 0;
    padding: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.edit-delete button svg {
    max-width: 20px;
    height: 20px;
}

.edit-delete button:not(:last-child) {
    margin-right: 12px;
}

.new-channel-popup .modal-title {
    text-transform: capitalize;
}

.new-channel-popup label {
    margin-bottom: 8px;
    text-transform: capitalize;
}

.new-channel-popup textarea {
    height: 140px;
    resize: none;
}

button.btn-close {
    box-shadow: none !important;
}

.modal-content {
    border-radius: 25px;
    border: 2px solid #e2e2e2;
    padding: 15px;
}

.list-creating-channel h4 {
    text-transform: capitalize;
}

/*---------- CHANNEL PAGE CSS END -----------*/

/*---------- INERACTION PAGE CSS START -----------*/
.paginationbar .page-link svg {
    max-width: 15px;
    height: 15px;
}

.paginationbar .page-link {
    color: #5C5C63;
}

.paginationbar .page-item.active .page-link {
    background-color: #24aed3;
    border-color: #24aed3;
}

.paginationbar .page-link {
    color: #5C5C63;
    border-radius: 5px;
}

.paginationbar .page-item {
    margin: 0 4px;
}

/*---------- INERACTION PAGE CSS END -----------*/

/*---------- USERS PAGE CSS START -----------*/
input[type=file] {
    width: 100%;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border: 2px solid #e2e2e2;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #24AED3 !important;
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;
    height: 50px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

/*---------- USERS PAGE CSS END -----------*/

/*---------- LEADS PAGE CSS START -----------*/
.modal-dialog-scrollable .modal-body::-webkit-scrollbar {
    width: 6px;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar-thumb {
    background-color: #8E8E8E;
    border-radius: 30px;
}

/*---------- LEADS PAGE CSS END -----------*/

/*---------- PROFILE DATA PAGE CSS START -----------*/
.registered-data {
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(199, 206, 218, 0.25) !important;
    border: 2px solid #E2E2E2;
    overflow: hidden;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

.datablock {
    max-height: 358px;
    overflow-y: auto;
}

.registered-data h4 {
    padding: 30px;
    /* border-bottom: 1px solid #e2e2e2; */
    margin-bottom: 0;
}

.datablock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.datablockitem {
    padding: 18px 30px;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

.dataitem {
    font-size: 20px;
    font-weight: 500;
    color: #A5A5A5;
}

.observation-data {
    margin-top: 45px;
}

.datablock-observationinner {
    padding-left: 72px;
    margin-top: 20px;
}
.datablock-observationinner .datablock-observation {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.datablock-observation.topdaterow{
    padding: 20px 0px;
    border-bottom: 1px solid #ccc;
}

.datablock-observation ul {
    display: flex;
    align-items: center;
    row-gap: 10px;
    column-gap: 15px;
    font-size: 14px;
    flex-wrap: wrap;
}

.datablock-observation ul li {
    font-weight: 500;
}

.datablock-observation ul li span {
    font-weight: 300;
}

.sidebyside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sidebyside .right img {
    display: block;
    max-width: 35px;
    margin: 10px auto;
}

.sidebyside .left {
    max-width: 330px;
    flex: 330px;
}

.sidebyside .right {
    text-align: center;
}

.daily-task {
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(199, 206, 218, 0.25) !important;
    border: 2px solid #E2E2E2;
    padding: 30px;
}

.daily-taskbox {
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.daily-taskbox:last-child {
    margin-bottom: 0;
}

.task-buttongroup {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.daily-taskbox:first-child {
    background: rgb(186 12 12 / 20%);
}

.daily-taskbox:nth-child(2) {
    background: rgb(255 255 77 / 38%);
}

.daily-taskbox:nth-child(3) {
    background: rgb(116 216 108 / 38%);
}

.daily-taskbox:nth-child(4) {
    background: rgb(221 221 221 / 38%);
}

.task-buttongroup button {
    padding: 10px 15px;
    font-size: 14px;
}

/*---------- PROFILE DATA PAGE CSS END -----------*/



/*---------- SELECT2 CSS START -----------*/
.select_area .select2-container {
    min-width: 100px;
}

.select_area .select2-container .select2-selection--single {
    height: 40px;
    border: 1px solid #e2e2e2;
}

.select_area .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 100%;
    display: flex !important;
    align-items: center;
}

.flag-img {
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 1.5;
    font-weight: 400;
    color: #212529;
    font-size: 1rem;
}

.flag-img img {
    width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50% !important;
    transform: translateY(-50%);
    right: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    /* border-width: 6px 5px 0 5px; */
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    background-size: 13px !important;
    background-repeat: no-repeat !important;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z" fill="%23726f6f" opacity="1" data-original="%23000000"></path></g></svg>');
    background-position: 0px center;
}

/* .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-width: 0 5px 6px 5px;
    display: none;
} */
/* .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow{
    transform: translateY(-50%) rotate(180deg);
} */
.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #e2e2e2 !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #f9fafb !important;
}

.select2-search__field {
    display: none;
}

.select2-container--default .select2-results__option--selected,
.select2-container--default .select2-results__option--selected:hover {
    background-color: #f9fafb !important;
}

.header-main-left .log {
    display: flex;
}

/*---------- SELECT2 CSS END -----------*/



/*---------- DATA TABLE CSS START -----------*/
table.dataTable thead th {
    font-size: 22px;
    padding: 20px 25px 20px 15px !important;
}

table.dataTable tbody td {
    padding: 15px 20px 15px 15px !important;
    font-size: 18px;
}

table.dataTable thead th,
table.dataTable tbody tr td {
    border-bottom: 1px solid #E2E2E2 !important;
}

/*.list-creating-channel table tbody td:first-child,
.list-creating-channel table thead th:first-child  {
    width: 20%;
}*/


table.dataTable {
    padding-top: 1rem;
}

table.dataTable.no-footer {
    border: 0 !important;
}

.list-creating-channel .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 492 492" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M198.608 246.104 382.664 62.04c5.068-5.056 7.856-11.816 7.856-19.024 0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12C361.476 2.792 354.712 0 347.504 0s-13.964 2.792-19.028 7.864L109.328 227.008c-5.084 5.08-7.868 11.868-7.848 19.084-.02 7.248 2.76 14.028 7.848 19.112l218.944 218.932c5.064 5.072 11.82 7.864 19.032 7.864 7.208 0 13.964-2.792 19.032-7.864l16.124-16.12c10.492-10.492 10.492-27.572 0-38.06L198.608 246.104z" fill="%235c5c63" opacity="1" data-original="%23000000"></path></g></svg>') no-repeat center;
    background-size: contain;
}

.list-creating-channel .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    z-index: 2;
    background-color: #e9ecef !important;
    border-color: #dee2e6 !important;
    color: #5C5C63 !important;

}

.list-creating-channel .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #5C5C63 !important;
    border-radius: 5px !important;
    padding: .375rem .75rem !important;
    text-decoration: none !important;
    background: #fff !important;
    border: 1px solid #dee2e6 !important;
}

.list-creating-channel .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.list-creating-channel .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #24aed3 !important;
    border-color: #24aed3 !important;
    color: #fff !important;
}

.dataTables_info {
    display: none;
}

.list-creating-channel .dataTables_wrapper .dataTables_paginate {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: auto;
    justify-content: center;
    width: 100%;
    margin-top: 3rem !important;
}

.dataTables_length label,
.dataTables_filter label {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dataTables_length label select,
.dataTables_filter label input {
    box-shadow: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
}

.dataTables_filter label {
    margin-top: -10px;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: none !important;
}

.dataTables_scrollHead .dataTables_scrollHeadInner {
    width: 100% !important
}

.dataTables_scrollHead .dataTables_scrollHeadInner .table {
    width: 100% !important;
    padding-bottom: 0px
}

.dataTables_scrollBody .table {
    width: 100% !important;
    padding-top: 0px;
    margin: 0px
}

/* .dataTables_scrollBody table thead tr th{
    height: 0px !important;
    padding: 0px !important;
} */
.dataTables_scrollHeadInner .dataTable thead{
    display: none !important;
}

.dataTables_scrollBody .dataTable thead{
    /* display: none !important; */
}

table thead tr th, table tbody tr td{
    white-space: nowrap;
}

.dataTables_scrollBody table thead tr th > div{
    height: auto !important;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background-position: center right -4px !important;
}

#area-table thead tr th:nth-child(2),
#campaigns-table thead tr th:nth-child(2),
#area-table thead tr th:nth-child(2){
    white-space: normal;
    min-width: 300px;
}
#area-table tbody tr td:nth-child(2),
#campaigns-table tbody tr td:nth-child(2),
#area-table tbody tr td:nth-child(2){
    white-space: normal;
    min-width: 300px;
}
#area-table thead tr th:nth-child(1),
#campaigns-table thead tr th:nth-child(1){
    white-space: normal;
    width: 200px !important;
    min-width: 270px;
}
#area-table tbody tr td:nth-child(1),
#campaigns-table tbody tr td:nth-child(1){
    white-space: normal;
    width: 200px;
}

.dataTable thead tr th, .dataTable tbody tr td{
    word-break: break-all;
}

.scroll-td{
    max-height: 100px;
    overflow: hidden auto;
}


/* SELECT TAGS CSS START */
.qualificationGroup {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tags {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(199, 206, 218, 0.25) !important;
    border: 2px solid #E2E2E2;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    min-height: 50px;
}

.tags ul#tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.tags ul#tagList::after {
    content: "";
    clear: both;
    display: table;
}

.tags ul#tagList li {
    position: relative;
    list-style: none;
    float: left;
    font-size: 0.835rem;
    text-transform: capitalize;
    background-color: #E8F5E9;
    line-height: 1rem;
    padding: 0.5rem 1rem 0.5rem 2rem;
    border-radius: 1rem;
    word-break: break-all;
}

.tags ul#tagList li>span.rmTag {
    position: absolute;
    margin: 0.25rem;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: #24AED3;
    cursor: pointer;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.tags ul#tagList li>span.rmTag:hover {
    background-color: #ef9a9a;
}

/* SELECT TAGS CSS END */

/* Image Preview */
.image-preview {
    width: 100px;
    height: 100px;
    margin-top: 5px;
    border-radius: 20px;
    border: 2px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-group.invalidGroup .form-control {
    padding-right: calc(3.5em + .75rem);
}

input[type="password" i]{
    padding-right: 50px;
}

.form-group.invalidGroup .form-icon-password {
    right: 34px;
}

.listing-table{
    padding: 1rem 0;
}


/* 08-02-24 */
.searchaGroup {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.searchaGroup form {
    width: 100%;
}

.toggleBtn {
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0px;
}
.toggleBtn.small {
    width: 35px;
    height: 35px;
}
.toggleBtn img {
    width: 100%;
    object-fit: contain;
}

footer.mobilefooter{
transform: translateX(0px);
}
/* .toast-message{
    white-space: nowrap;
} */

span.error, span#qualificationError {
    font-size: 14px;
}

.custome-responsive-table {
    padding: 0px;
}


.listing-table table{
    width: 100% !important;
}

button.file-upload:disabled{
    background: #fafafa;
    color: #b4b4c1;
}

/*
.listbox-wrapper .listbox .checboxcont input:checked:after {
display: none;
} */

.swal2-popup.swal2-toast .swal2-title {
    line-height: normal;
}


/* ----10-2-24--- */
.remeber_account {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: #000;
    text-transform: capitalize;
    margin-top: 10px;
    gap: 5px;
}
.remeber_account a {
    margin-top: 0px;
}

.btn-primary:hover{
    background-color: #000;
    border-color: #000;
}
.btn-login {
    text-transform: uppercase;
}

body.swal2-toast-shown .swal2-container {
    width: 420px !important;
}

.swal2-close{
    display: inline-block !important;
}

.checboxcont span.custom-check {
    height: 24px;
    border-radius: 7px;
    box-shadow: 0px 4px 10px rgba(199, 206, 218, 0.25) !important;
    border: 2px solid #E2E2E2;
    width: 24px;
    min-width: 24px;
    position: relative;
}

.checboxcont span.custom-check.checked:after {
    position: absolute;
    content: '';
    border: 2px solid #000;
    width: 6px;
    height: 11px;
    border-top: 0;
    transform: rotate(45deg);
    border-left: 0;
    left: 7px;
    top: 3px;
}
.campaign-listing .checboxcont{
    padding-left: 0;
}

.ban-element:hover{
    cursor: not-allowed;
}

label.error{
    color: #e34141;
    font-size:14px;
}

/* ------------------------ */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* ::-webkit-scrollbar-button {
    background: #ccc;
} */
::-webkit-scrollbar-track-piece {
    background: #00000003;
}
::-webkit-scrollbar-thumb {
    background: #eee;
}

.searchaGroup .inputWrapper input.form-control,
.search-identify .inputWrapper input.form-control{
    padding-right: 100px;
}
.ajax-click{
    border: 0;
    background: transparent;
    padding: 0;
    position: absolute;
    right: 70px;
    top: 17px;
    opacity: 1;
    visibility: visible;
}
.ajax-click img{
    width: 14px;
}
.searchaGroup .inputWrapper input.form-control:placeholder-shown + .ajax-click,
.search-identify .inputWrapper input.form-control:placeholder-shown + .ajax-click{
    opacity: 0;
    visibility: hidden;
}

/*14-03-2024*/
.latest-interaction>h6,
.interaction-list .datablock-observation>h6{
    font-size: 20px;
}
.registered-data>.datablock{
    max-height: 311px;
    overflow-y: auto;
}
.registered-data>.datablock .datablockitem{
    padding: 12px 18px;
}
.registered-data>.datablock .datablockitem:nth-child(3n){
    border-right: none;
}
.registered-data>.datablock .datablockitem>label{
    font-weight: 500;
    margin-bottom: 5px;
}
.registered-data>.datablock .datablockitem .dataitem{
    font-weight: 400;
    font-size: 16px;
    color: #817777;
}
.interaction-list{
    max-height: 430px;
    overflow-y: auto;
    padding-right: 10px;
}
.interaction-list::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.interaction-list::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
}
.interaction-list::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: #8b8b8b;
}
.datablock-observation .latest-interaction ul li span{
    color: #817777;
}
.daily-taskbox .task-buttongroup{
    gap: 10px;
}
.daily-taskbox .task-buttongroup .btn{
    padding: 8px 12px;
}
div.dt-buttons{
    position: absolute !important;
    right: 0;
    bottom: calc(100% + 24px);
}

.registered-data .search-title-bar{
    border-bottom: 1px solid #e2e2e2;
}

.registered-data .search-title-bar h4{
    padding: 20px !important;
}
header .searchaGroup{
    position: relative;
}
header .searchaGroup label.error{
    position: absolute;
    left: 0;
    bottom: -22px;
    line-height: 15px;
}

/* add date c */
.dategroup {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="73" height="94" viewBox="0 0 73 94" fill="none"><path d="M72.75 83.0122C72.75 80.1922 72.75 77.3622 72.75 74.5422C72.75 70.9422 72.75 67.3422 72.75 63.7422C72.75 59.7122 72.75 55.6822 72.75 51.6522C72.75 47.5422 72.75 43.4322 72.75 39.3322C72.75 35.4722 72.75 31.6022 72.75 27.7422C72.75 24.4422 72.75 21.1522 72.75 17.8522C72.75 15.4722 72.75 13.1022 72.75 10.7222C72.75 9.6022 72.75 8.4922 72.75 7.3722C72.75 5.7722 71.91 4.3222 70.56 4.1022C70.32 4.0622 70.06 4.0822 69.81 4.0822C68.62 4.0822 67.43 4.0822 66.24 4.0822C64.9 4.0822 63.56 4.0822 62.21 4.0822C62.21 3.3222 62.21 2.5722 62.21 1.8122C62.21 1.3522 62.21 0.882204 62.21 0.422204C62.21 0.0722035 61.96 -0.0877964 61.72 0.0722036C61.44 0.252204 61.25 0.692203 61.25 1.0822C61.25 2.0822 61.25 3.0822 61.25 4.0822C60.78 4.0822 60.3 4.0822 59.83 4.0822C57.01 4.0822 54.2 4.0822 51.38 4.0822C50.76 4.0822 50.15 4.0822 49.53 4.0822C49.53 3.3222 49.53 2.5722 49.53 1.8122C49.53 1.3522 49.53 0.882204 49.53 0.422204C49.53 0.0722035 49.28 -0.0877964 49.04 0.0722036C48.76 0.252204 48.57 0.692203 48.57 1.0822C48.57 2.0822 48.57 3.0822 48.57 4.0822C46.27 4.0822 43.97 4.0822 41.68 4.0822C40.07 4.0822 38.46 4.0822 36.85 4.0822C36.85 3.3222 36.85 2.5722 36.85 1.8122C36.85 1.3522 36.85 0.882204 36.85 0.422204C36.85 0.0722035 36.6 -0.0877964 36.36 0.0722036C36.07 0.252204 35.88 0.692204 35.88 1.0722C35.88 2.0722 35.88 3.0722 35.88 4.0722C34.44 4.0722 32.99 4.0722 31.55 4.0722C29.09 4.0722 26.62 4.0722 24.16 4.0722C24.16 3.3122 24.16 2.5622 24.16 1.8022C24.16 1.3422 24.16 0.872204 24.16 0.412204C24.16 0.0622038 23.91 -0.0977961 23.67 0.0622038C23.39 0.242204 23.2 0.682204 23.2 1.0722C23.2 2.0722 23.2 3.0722 23.2 4.0722C22.76 4.0722 22.32 4.0722 21.88 4.0722C19.05 4.0722 16.22 4.0722 13.39 4.0722C12.75 4.0722 12.12 4.0722 11.48 4.0722C11.48 3.3122 11.48 2.5622 11.48 1.8022C11.48 1.3422 11.48 0.872204 11.48 0.412204C11.48 0.0622038 11.23 -0.0977961 10.99 0.0622038C10.71 0.242204 10.52 0.682204 10.52 1.0722C10.52 2.0722 10.52 3.0722 10.52 4.0722C9.33 4.0722 8.14 4.0722 6.96 4.0722C5.77 4.0722 4.59 4.0722 3.4 4.0722C3.14 4.0722 2.88 4.0622 2.63 4.0922C1.06 4.2922 0 6.1422 0 7.9822C0 9.0522 0 10.1222 0 11.2022C0 13.5422 0 15.8822 0 18.2222C0 21.4822 0 24.7422 0 28.0022C0 31.8622 0 35.7322 0 39.5922C0 43.7122 0 47.8322 0 51.9522C0 55.9722 0 60.0022 0 64.0222C0 67.6422 0 71.2622 0 74.8822C0 77.7422 0 80.6022 0 83.4622C0 85.2222 0 86.9822 0 88.7422C0 89.1122 0 89.4822 0 89.8422C0.01 91.5222 0.959999 93.0322 2.39 93.1122C3.05 93.1522 3.71 93.1122 4.37 93.1122C6.09 93.1122 7.8 93.1122 9.52 93.1122C12.04 93.1122 14.57 93.1122 17.09 93.1122C20.16 93.1122 23.24 93.1122 26.31 93.1122C29.65 93.1122 33 93.1122 36.34 93.1122C39.67 93.1122 42.99 93.1122 46.32 93.1122C49.37 93.1122 52.42 93.1122 55.47 93.1122C57.98 93.1122 60.49 93.1122 63 93.1122C64.69 93.1122 66.37 93.1122 68.06 93.1122C68.65 93.1122 69.24 93.1122 69.83 93.1122C71.53 93.0622 72.77 91.2322 72.78 89.2122C72.78 88.8722 72.78 88.5222 72.78 88.1822C72.75 86.4722 72.75 84.7422 72.75 83.0122ZM62.5 91.0522C62.5 90.0522 62.5 89.0522 62.5 88.0522C62.5 86.0422 62.5 84.0322 62.5 82.0322C62.5 81.7722 62.5 81.5122 62.5 81.2522C62.5 81.1922 62.5 81.1322 62.5 81.0722C62.5 81.0622 62.5 81.0522 62.5 81.0422C62.5 81.0322 62.5 81.0222 62.5 81.0122C62.5 81.0022 62.51 80.9522 62.51 80.9422C62.51 80.9322 62.51 80.9222 62.51 80.9122V80.9022C62.51 80.8922 62.52 80.8722 62.53 80.8522C62.54 80.8322 62.55 80.8122 62.56 80.8022L62.57 80.7922C62.58 80.7822 62.59 80.7622 62.6 80.7522L62.61 80.7422L62.62 80.7322C62.63 80.7222 62.63 80.7222 62.64 80.7122C62.67 80.6922 62.7 80.6622 62.74 80.6422C62.75 80.6322 62.76 80.6322 62.77 80.6222C62.77 80.6222 62.78 80.6222 62.8 80.6122C62.9 80.5722 62.99 80.5622 63.08 80.5522C63.22 80.5522 63.36 80.5522 63.5 80.5522C65.04 80.5522 66.58 80.5522 68.12 80.5522C68.94 80.5522 69.77 80.5522 70.59 80.5522C70.74 80.5522 70.9 80.5522 71.05 80.5622C70.26 81.5322 69.46 82.5022 68.67 83.4722C66.83 85.7222 64.99 87.9822 63.15 90.2322C62.93 90.5222 62.71 90.7822 62.5 91.0522ZM63.68 13.2722C63.68 13.2822 63.66 13.4122 63.66 13.4122C63.65 13.4622 63.64 13.5222 63.63 13.5722C63.64 13.5022 63.61 13.6722 63.6 13.6922C63.58 13.7622 63.56 13.8222 63.54 13.8822C63.54 13.8922 63.54 13.9022 63.53 13.9022C63.53 13.9122 63.52 13.9222 63.51 13.9322C63.49 13.9722 63.47 14.0122 63.45 14.0522C63.44 14.0722 63.43 14.0922 63.42 14.1122C63.41 14.1222 63.41 14.1322 63.39 14.1522C63.35 14.2022 63.32 14.2622 63.28 14.3122C63.27 14.3222 63.27 14.3322 63.26 14.3422C63.25 14.3522 63.25 14.3522 63.24 14.3622C63.2 14.4022 63.16 14.4522 63.11 14.4922C63.11 14.4922 63.01 14.5822 63.02 14.5722C62.84 14.7122 62.68 14.8022 62.51 14.8722C61.69 15.1722 60.77 14.8222 60.23 14.0122C59.96 13.6122 59.79 13.1022 59.76 12.6422C59.75 12.5122 59.75 12.3722 59.76 12.2422L59.78 12.1022C59.79 12.0422 59.8 11.9822 59.81 11.9322C59.81 11.9222 59.81 11.9122 59.81 11.9022C59.81 11.8922 59.81 11.8922 59.81 11.8822C59.83 11.8122 59.85 11.7522 59.87 11.6822C59.88 11.6622 59.91 11.5822 59.92 11.5622C59.95 11.5022 59.97 11.4422 60 11.3922C60 11.3822 60.01 11.3822 60.01 11.3722C60.02 11.3622 60.02 11.3522 60.03 11.3422C60.07 11.2922 60.1 11.2322 60.14 11.1822C60.14 11.1722 60.15 11.1722 60.16 11.1622C60.2 11.1222 60.23 11.0822 60.27 11.0422C60.39 10.9222 60.59 10.7622 60.75 10.6822C60.91 10.6022 61.07 10.5522 61.24 10.5322C61.24 10.6222 61.24 10.7122 61.24 10.8022C61.24 11.2622 61.24 11.7322 61.24 12.1922C61.24 12.5422 61.49 12.7022 61.73 12.5422C62.01 12.3622 62.2 11.9222 62.2 11.5322C62.2 11.2322 62.2 10.9322 62.2 10.6422C62.58 10.8022 62.94 11.1022 63.19 11.4822C63.51 11.9522 63.66 12.5022 63.67 13.0722C63.69 13.1522 63.69 13.2122 63.68 13.2722ZM60.19 11.1722C60.21 11.1422 60.2 11.1522 60.19 11.1722ZM51 13.2722C51 13.2822 50.98 13.4122 50.98 13.4122C50.97 13.4622 50.96 13.5222 50.95 13.5722C50.96 13.5022 50.93 13.6722 50.92 13.6922C50.9 13.7622 50.88 13.8222 50.86 13.8822C50.86 13.8922 50.86 13.9022 50.85 13.9022C50.85 13.9122 50.84 13.9222 50.83 13.9322C50.81 13.9722 50.79 14.0122 50.77 14.0522C50.76 14.0722 50.75 14.0922 50.74 14.1122C50.73 14.1222 50.73 14.1322 50.71 14.1522C50.67 14.2022 50.64 14.2622 50.6 14.3122C50.59 14.3222 50.59 14.3322 50.58 14.3422C50.57 14.3522 50.57 14.3522 50.56 14.3622C50.52 14.4022 50.48 14.4522 50.43 14.4922C50.43 14.4922 50.33 14.5822 50.34 14.5722C50.16 14.7122 50 14.8022 49.83 14.8722C49.01 15.1722 48.09 14.8222 47.55 14.0122C47.28 13.6122 47.11 13.1022 47.08 12.6422C47.07 12.5122 47.07 12.3722 47.08 12.2422L47.1 12.1022C47.11 12.0422 47.12 11.9822 47.13 11.9322C47.13 11.9222 47.13 11.9122 47.13 11.9022C47.13 11.8922 47.13 11.8922 47.13 11.8822C47.15 11.8122 47.17 11.7522 47.19 11.6822C47.2 11.6622 47.23 11.5822 47.24 11.5622C47.27 11.5022 47.29 11.4422 47.32 11.3922C47.32 11.3822 47.33 11.3822 47.33 11.3722C47.34 11.3622 47.34 11.3522 47.35 11.3422C47.39 11.2922 47.42 11.2322 47.46 11.1822C47.46 11.1722 47.47 11.1722 47.48 11.1622C47.52 11.1222 47.55 11.0822 47.59 11.0422C47.71 10.9222 47.91 10.7622 48.07 10.6822C48.23 10.6022 48.39 10.5522 48.56 10.5322C48.56 10.6222 48.56 10.7122 48.56 10.8022C48.56 11.2622 48.56 11.7322 48.56 12.1922C48.56 12.5422 48.81 12.7022 49.05 12.5422C49.33 12.3622 49.52 11.9222 49.52 11.5322C49.52 11.2322 49.52 10.9322 49.52 10.6422C49.9 10.8022 50.26 11.1022 50.51 11.4822C50.83 11.9522 50.98 12.5022 50.99 13.0722C51 13.1522 51 13.2122 51 13.2722ZM47.5 11.1722C47.53 11.1422 47.52 11.1522 47.5 11.1722ZM38.31 13.2722C38.31 13.2822 38.29 13.4122 38.29 13.4122C38.28 13.4622 38.27 13.5222 38.26 13.5722C38.27 13.5022 38.24 13.6722 38.23 13.6922C38.21 13.7622 38.19 13.8222 38.17 13.8822C38.17 13.8922 38.17 13.9022 38.16 13.9022C38.16 13.9122 38.15 13.9222 38.14 13.9322C38.12 13.9722 38.1 14.0122 38.08 14.0522C38.07 14.0722 38.06 14.0922 38.05 14.1122C38.04 14.1222 38.04 14.1322 38.02 14.1522C37.98 14.2022 37.95 14.2622 37.91 14.3122C37.9 14.3222 37.9 14.3322 37.89 14.3422C37.88 14.3522 37.88 14.3522 37.87 14.3622C37.83 14.4022 37.79 14.4522 37.74 14.4922C37.74 14.4922 37.64 14.5822 37.65 14.5722C37.47 14.7122 37.31 14.8022 37.14 14.8722C36.32 15.1722 35.4 14.8222 34.86 14.0122C34.59 13.6122 34.42 13.1022 34.39 12.6422C34.38 12.5122 34.38 12.3722 34.39 12.2422L34.41 12.1022C34.42 12.0422 34.43 11.9822 34.44 11.9322C34.44 11.9222 34.44 11.9122 34.44 11.9022C34.44 11.8922 34.44 11.8922 34.44 11.8822C34.46 11.8122 34.48 11.7522 34.5 11.6822C34.51 11.6622 34.54 11.5822 34.55 11.5622C34.58 11.5022 34.6 11.4422 34.63 11.3922C34.63 11.3822 34.64 11.3822 34.64 11.3722C34.65 11.3622 34.65 11.3522 34.66 11.3422C34.7 11.2922 34.73 11.2322 34.77 11.1822C34.77 11.1722 34.78 11.1722 34.79 11.1622C34.83 11.1222 34.86 11.0822 34.9 11.0422C35.02 10.9222 35.22 10.7622 35.38 10.6822C35.54 10.6022 35.7 10.5522 35.87 10.5322C35.87 10.6222 35.87 10.7122 35.87 10.8022C35.87 11.2622 35.87 11.7322 35.87 12.1922C35.87 12.5422 36.12 12.7022 36.36 12.5422C36.64 12.3622 36.83 11.9222 36.83 11.5322C36.83 11.2322 36.83 10.9322 36.83 10.6422C37.21 10.8022 37.57 11.1022 37.82 11.4822C38.14 11.9522 38.29 12.5022 38.3 13.0722C38.31 13.1522 38.31 13.2122 38.31 13.2722ZM34.81 11.1722C34.84 11.1422 34.83 11.1522 34.81 11.1722ZM25.62 13.2722C25.62 13.2822 25.6 13.4122 25.6 13.4122C25.59 13.4622 25.58 13.5222 25.57 13.5722C25.58 13.5022 25.55 13.6722 25.54 13.6922C25.52 13.7622 25.5 13.8222 25.48 13.8822C25.48 13.8922 25.48 13.9022 25.47 13.9022C25.47 13.9122 25.46 13.9222 25.45 13.9322C25.43 13.9722 25.41 14.0122 25.39 14.0522C25.38 14.0722 25.37 14.0922 25.36 14.1122C25.35 14.1222 25.35 14.1322 25.33 14.1522C25.29 14.2022 25.26 14.2622 25.22 14.3122C25.21 14.3222 25.21 14.3322 25.2 14.3422C25.19 14.3522 25.19 14.3522 25.18 14.3622C25.14 14.4022 25.1 14.4522 25.05 14.4922C25.05 14.4922 24.95 14.5822 24.96 14.5722C24.78 14.7122 24.62 14.8022 24.45 14.8722C23.63 15.1722 22.71 14.8222 22.17 14.0122C21.9 13.6122 21.73 13.1022 21.7 12.6422C21.69 12.5122 21.69 12.3722 21.7 12.2422L21.72 12.1022C21.73 12.0422 21.74 11.9822 21.75 11.9322C21.75 11.9222 21.75 11.9122 21.75 11.9022C21.75 11.8922 21.75 11.8922 21.75 11.8822C21.77 11.8122 21.79 11.7522 21.81 11.6822C21.82 11.6622 21.85 11.5822 21.86 11.5622C21.89 11.5022 21.91 11.4422 21.94 11.3922C21.94 11.3822 21.95 11.3822 21.95 11.3722C21.96 11.3622 21.96 11.3522 21.97 11.3422C22.01 11.2922 22.04 11.2322 22.08 11.1822C22.08 11.1722 22.09 11.1722 22.1 11.1622C22.14 11.1222 22.17 11.0822 22.21 11.0422C22.33 10.9222 22.53 10.7622 22.69 10.6822C22.85 10.6022 23.01 10.5522 23.18 10.5322C23.18 10.6222 23.18 10.7122 23.18 10.8022C23.18 11.2622 23.18 11.7322 23.18 12.1922C23.18 12.5422 23.43 12.7022 23.67 12.5422C23.95 12.3622 24.14 11.9222 24.14 11.5322C24.14 11.2322 24.14 10.9322 24.14 10.6422C24.52 10.8022 24.88 11.1022 25.13 11.4822C25.45 11.9522 25.6 12.5022 25.61 13.0722C25.63 13.1522 25.62 13.2122 25.62 13.2722ZM22.13 11.1722C22.15 11.1422 22.14 11.1522 22.13 11.1722ZM12.93 13.2722C12.93 13.2822 12.91 13.4122 12.91 13.4122C12.9 13.4622 12.89 13.5222 12.88 13.5722C12.89 13.5022 12.86 13.6722 12.85 13.6922C12.83 13.7622 12.81 13.8222 12.79 13.8822C12.79 13.8922 12.79 13.9022 12.78 13.9022C12.78 13.9122 12.77 13.9222 12.76 13.9322C12.74 13.9722 12.72 14.0122 12.7 14.0522C12.69 14.0722 12.68 14.0922 12.67 14.1122C12.66 14.1222 12.66 14.1322 12.64 14.1522C12.6 14.2022 12.57 14.2622 12.53 14.3122C12.52 14.3222 12.52 14.3322 12.51 14.3422C12.5 14.3522 12.5 14.3522 12.49 14.3622C12.45 14.4022 12.41 14.4522 12.36 14.4922C12.36 14.4922 12.26 14.5822 12.27 14.5722C12.09 14.7122 11.93 14.8022 11.76 14.8722C10.94 15.1722 10.02 14.8222 9.48 14.0122C9.21 13.6122 9.04 13.1022 9.01 12.6422C9 12.5122 9 12.3722 9.01 12.2422L9.03 12.1022C9.04 12.0422 9.05 11.9822 9.06 11.9322C9.06 11.9222 9.06 11.9122 9.06 11.9022C9.06 11.8922 9.06 11.8922 9.06 11.8822C9.08 11.8122 9.1 11.7522 9.12 11.6822C9.13 11.6622 9.16 11.5822 9.17 11.5622C9.2 11.5022 9.22 11.4422 9.25 11.3922C9.25 11.3822 9.26 11.3822 9.26 11.3722C9.27 11.3622 9.27 11.3522 9.28 11.3422C9.32 11.2922 9.35 11.2322 9.39 11.1822C9.39 11.1722 9.4 11.1722 9.41 11.1622C9.45 11.1222 9.48 11.0822 9.52 11.0422C9.64 10.9222 9.84 10.7622 10 10.6822C10.16 10.6022 10.32 10.5522 10.49 10.5322C10.49 10.6222 10.49 10.7122 10.49 10.8022C10.49 11.2622 10.49 11.7322 10.49 12.1922C10.49 12.5422 10.74 12.7022 10.98 12.5422C11.26 12.3622 11.45 11.9222 11.45 11.5322C11.45 11.2322 11.45 10.9322 11.45 10.6422C11.83 10.8022 12.19 11.1022 12.44 11.4822C12.76 11.9522 12.91 12.5022 12.92 13.0722C12.94 13.1522 12.94 13.2122 12.93 13.2722ZM9.44 11.1722C9.47 11.1422 9.46 11.1522 9.44 11.1722ZM0.939999 7.2322C0.959999 6.2122 1.67 5.5922 2.46 5.5722C2.63 5.5722 2.81 5.5722 2.98 5.5722C4.19 5.5722 5.4 5.5722 6.62 5.5722C7.91 5.5722 9.21 5.5722 10.5 5.5722C10.5 6.7622 10.5 7.9522 10.5 9.1422C9.84 9.3422 9.24 9.8222 8.81 10.5022C8.01 11.7622 7.79 13.5322 8.48 14.9222C9.09 16.1522 10.32 16.7322 11.45 16.3922C12.87 15.9622 13.85 14.2522 13.9 12.5022C13.9 12.4722 13.9 12.4522 13.9 12.4222C13.89 11.0022 13.19 9.6522 12.06 9.2022C11.86 9.1222 11.66 9.0722 11.46 9.0422C11.46 8.6122 11.46 8.1922 11.46 7.7622C11.46 7.0322 11.46 6.2922 11.46 5.5622C11.99 5.5622 12.51 5.5622 13.04 5.5622C15.85 5.5622 18.65 5.5622 21.46 5.5622C22.03 5.5622 22.61 5.5622 23.18 5.5622C23.18 6.7522 23.18 7.9422 23.18 9.1322C22.52 9.3322 21.92 9.8122 21.49 10.4922C20.69 11.7522 20.47 13.5222 21.16 14.9122C21.77 16.1422 23 16.7222 24.13 16.3822C25.55 15.9522 26.53 14.2422 26.58 12.4922C26.58 12.4622 26.58 12.4422 26.58 12.4122C26.57 10.9922 25.87 9.6422 24.74 9.1922C24.54 9.1122 24.34 9.0622 24.14 9.0322C24.14 8.6022 24.14 8.1822 24.14 7.7522C24.14 7.0222 24.14 6.2822 24.14 5.5522C26.45 5.5522 28.76 5.5522 31.07 5.5522C32.67 5.5522 34.26 5.5522 35.86 5.5522C35.86 6.7422 35.86 7.9322 35.86 9.1222C35.2 9.3222 34.6 9.8022 34.17 10.4822C33.37 11.7422 33.15 13.5122 33.84 14.9022C34.45 16.1322 35.68 16.7122 36.81 16.3722C38.23 15.9422 39.21 14.2322 39.26 12.4822C39.26 12.4522 39.26 12.4322 39.26 12.4022C39.25 10.9822 38.55 9.6322 37.42 9.1822C37.22 9.1022 37.02 9.0522 36.82 9.0222C36.82 8.5922 36.82 8.1722 36.82 7.7422C36.82 7.0122 36.82 6.2722 36.82 5.5422C38.24 5.5422 39.66 5.5422 41.08 5.5422C43.57 5.5422 46.05 5.5422 48.54 5.5422C48.54 6.7322 48.54 7.9222 48.54 9.1122C47.88 9.3122 47.28 9.7922 46.85 10.4722C46.05 11.7322 45.83 13.5022 46.52 14.8922C47.13 16.1222 48.36 16.7022 49.49 16.3622C50.91 15.9322 51.89 14.2222 51.94 12.4722C51.94 12.4422 51.94 12.4222 51.94 12.3922C51.93 10.9722 51.23 9.6222 50.1 9.1722C49.9 9.0922 49.7 9.0422 49.5 9.0122C49.5 8.5822 49.5 8.1622 49.5 7.7322C49.5 7.0022 49.5 6.2622 49.5 5.5322C49.91 5.5322 50.32 5.5322 50.73 5.5322C53.54 5.5322 56.35 5.5322 59.15 5.5322C59.84 5.5322 60.53 5.5322 61.22 5.5322C61.22 6.7222 61.22 7.9122 61.22 9.1022C60.56 9.3022 59.96 9.7822 59.53 10.4622C58.73 11.7222 58.51 13.4922 59.2 14.8822C59.81 16.1122 61.04 16.6922 62.17 16.3522C63.59 15.9222 64.57 14.2122 64.62 12.4622C64.62 12.4322 64.62 12.4122 64.62 12.3822C64.61 10.9622 63.91 9.6122 62.78 9.1622C62.58 9.0822 62.38 9.0322 62.18 9.0022C62.18 8.5722 62.18 8.1522 62.18 7.7222C62.18 6.9922 62.18 6.2522 62.18 5.5222C63.32 5.5222 64.46 5.5222 65.6 5.5222C66.81 5.5222 68.02 5.5222 69.24 5.5222C69.41 5.5222 69.59 5.5222 69.76 5.5222C70.89 5.5522 71.74 6.6022 71.74 7.9822C71.74 9.0922 71.74 10.2122 71.74 11.3222C71.74 13.6722 71.74 16.0122 71.74 18.3622C71.74 19.6922 71.74 21.0122 71.74 22.3422C71.33 22.3422 70.93 22.3422 70.52 22.3422C68.78 22.3422 67.04 22.3422 65.3 22.3422C62.72 22.3422 60.15 22.3422 57.57 22.3422C54.43 22.3422 51.28 22.3422 48.14 22.3422C44.71 22.3422 41.28 22.3422 37.84 22.3422C34.35 22.3422 30.86 22.3422 27.38 22.3422C24.15 22.3422 20.92 22.3422 17.69 22.3422C14.95 22.3422 12.21 22.3422 9.47 22.3422C7.5 22.3422 5.53 22.3422 3.56 22.3422C2.67 22.3422 1.79 22.3322 0.9 22.3422C0.9 20.8922 0.9 19.4422 0.9 17.9822C0.9 15.6022 0.9 13.2222 0.9 10.8422C0.9 9.6822 0.9 8.5222 0.9 7.3622C0.94 7.3522 0.939999 7.2922 0.939999 7.2322ZM46.68 91.2422C43.38 91.2422 40.07 91.2422 36.77 91.2422C33.46 91.2422 30.15 91.2422 26.85 91.2422C23.8 91.2422 20.75 91.2422 17.71 91.2422C15.19 91.2422 12.67 91.2422 10.15 91.2422C8.42 91.2422 6.69 91.2422 4.96 91.2422C4.29 91.2422 3.61 91.2522 2.94 91.2422C1.82 91.2222 0.959999 90.1722 0.949999 88.8022C0.949999 88.4322 0.949999 88.0622 0.949999 87.6922C0.949999 85.9422 0.949999 84.1922 0.949999 82.4422C0.949999 79.6122 0.949999 76.7722 0.949999 73.9422C0.949999 70.3722 0.949999 66.8022 0.949999 63.2322C0.949999 59.2422 0.949999 55.2522 0.949999 51.2622C0.949999 47.1822 0.949999 43.1022 0.949999 39.0222C0.949999 35.1822 0.949999 31.3422 0.949999 27.5022C0.949999 26.1722 0.949999 24.8322 0.949999 23.5022C1.36 23.5022 1.76 23.5022 2.17 23.5022C3.91 23.5022 5.65 23.5022 7.39 23.5022C9.97 23.5022 12.54 23.5022 15.12 23.5022C18.26 23.5022 21.41 23.5022 24.55 23.5022C27.98 23.5022 31.41 23.5022 34.85 23.5022C38.34 23.5022 41.83 23.5022 45.31 23.5022C48.54 23.5022 51.77 23.5022 55 23.5022C57.74 23.5022 60.48 23.5022 63.22 23.5022C65.19 23.5022 67.16 23.5022 69.13 23.5022C70.02 23.5022 70.9 23.5122 71.79 23.5022C71.79 24.9222 71.79 26.3522 71.79 27.7722C71.79 31.6122 71.79 35.4522 71.79 39.2922C71.79 43.3722 71.79 47.4422 71.79 51.5222C71.79 55.5222 71.79 59.5122 71.79 63.5122C71.79 67.1122 71.79 70.7122 71.79 74.3122C71.79 75.7622 71.79 77.2222 71.79 78.6722C70.89 78.6722 70 78.6722 69.1 78.6722C67.46 78.6722 65.82 78.6722 64.18 78.6722C63.66 78.6722 63.13 78.6122 62.65 78.9522C61.97 79.4322 61.56 80.3522 61.54 81.3022C61.54 81.4322 61.54 81.5722 61.54 81.7022C61.54 83.5722 61.54 85.4422 61.54 87.3022C61.54 88.6122 61.52 89.9222 61.53 91.2222C59.63 91.2222 57.72 91.2222 55.82 91.2222C52.77 91.2422 49.72 91.2422 46.68 91.2422ZM71.78 89.9622C71.76 90.9822 71.06 91.6022 70.26 91.6222C69.64 91.6222 69.02 91.6222 68.39 91.6222C66.69 91.6222 64.99 91.6222 63.3 91.6222C63.28 91.6222 63.25 91.6222 63.23 91.6222C64.02 90.6522 64.82 89.6822 65.61 88.7022C67.45 86.4522 69.29 84.1922 71.13 81.9422C71.35 81.6722 71.57 81.4122 71.78 81.1422C71.78 81.8522 71.78 82.5522 71.78 83.2622C71.78 85.0522 71.78 86.8422 71.78 88.6222C71.78 89.0022 71.78 89.3922 71.78 89.7722C71.78 89.8422 71.78 89.9022 71.78 89.9622Z" fill="%23282828"/><path d="M62.61 80.7422C62.6 80.7522 62.6 80.7522 62.59 80.7622C62.58 80.7722 62.58 80.7722 62.61 80.7422Z" fill="%23282828"/></svg>');;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 88px;
    width: 68px;
    padding-top: 20px;
    margin-top: -5px;
}

.dategroup .month, .dategroup .year{
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}
.dategroup .date{
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;
}

.dategroup.nestingdate{
    height: 75px;
    width: 60px;
    padding-top: 20px;
    margin-top: -3px;
}

.dategroup.nestingdate .month, .dategroup.nestingdate .year{
    font-size: 10px;
    line-height: 15px;
}
.dategroup.nestingdate .date{
    font-size: 20px;
    line-height: 20px;
}

.datecontentside h6 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
}
.datablock-observation .content{
    font-size: 14px;
    line-height: 22px;
}

.addNewInterationBtn.btnsmall {
    padding: 8px 12px;
    margin-top: -20px;
    font-size: 14px;
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .ajax-click{
        right: 58px;
        top: 12px;
    }
    .searchaGroup .inputWrapper input.form-control,
    .search-identify .inputWrapper input.form-control {
        padding-right: 90px;
    }
    .footer-links ul{
        gap: 80px !important;
    }
    label.error{
        font-size: 12px;
        line-height: 14px !important;
        white-space: nowrap;
    }
    header .searchaGroup label.error{
        bottom: -14px;
    }
}

@media screen and (max-width: 767px){
    .searchaGroup .inputWrapper input.form-control,
    .search-identify .inputWrapper input.form-control {
        padding-right: 70px;
    }
    .list-creating-channel .dataTables_wrapper .dataTables_paginate{
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: normal;
        -webkit-justify-content: normal;
    }

    .list-creating-channel .dataTables_wrapper .dataTables_paginate>*{
        flex: 0 0 auto;
        -webkit-flex: 0 0 auto;
    }
    .ajax-click{
        right: 46px;
        top: 9px;
    }
    .form-control{
        font-size: 14px;
    }
    select.form-control{
        background-size: 12px !important;
        padding-right: 30px;
    }
    .datablock-observation ul{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        gap: 6px;
        padding-bottom: 14px;
    }
    .datablock-observation ul>li{
        flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
    }
    .daily-task{
        padding: 15px;
    }
    .daily-task .sidebyside,
    .daily-taskbox .task-buttongroup{
        justify-content: center;
        -webkit-justify-content: center;
        text-align: center;
    }
    label.error{
        font-size: 12px;
        line-height: 14px !important;
    }
    header .searchaGroup label.error{
        position: inherit;
        bottom: inherit;
    }
    header .searchaGroup .toggleBtn{
        align-self: flex-start;
        -webkit-align-self: flex-start;
    }

    .addNewInterationBtn.btnsmall {
        margin-top: 0;
    }
}

@media screen and (max-width: 576px) {
    .datablock-observationinner {
        padding-left: 0px;
    }
}
