/******* CHARSET ******/
@media (max-width:1199px){
	.gridblock-divide .column-1{
		padding: 50px 0;
	}
	.logoimg img{
		max-width: 400px;
	}
	.gridblock-divide .column-2 {
	    padding: 50px 20px;
	}
	.account-card{
		padding: 30px;
	}
	.search-identify .logo img {
	    max-width: 400px;
	}
	h2 {
	    font-size: 40px;
	    line-height: 50px;
	}
	h5 {
	    font-size: 20px;
	    line-height: 30px;
	}
	.upload-photo{
		padding: 22px;
	}
	.file-upload{
		padding: 12px 10px;
	}
	.containers .imageWrapper{
		width: 90px;
    	height: 90px;
	}
	.inputWrapper input.form-control{
		height: 50px;
		font-size: 16px;
	}
	.inputWrapper button.search img {
	    max-width: 24px;
	}
	.header-main-left .logo img {
	    max-width: 150px;
	}
	.wrapperblock label{
		font-size: 16px;
	}
	.list-creating-channel{
		padding: 25px;
	} 
	table#campaigns-table {
		width: 100%;
	}
	
}

@media (max-width:991px){

	
	h2 {
	    font-size: 35px;
	    line-height: 45px;
	}
	.gridblock-divide {
		height: 100%;
	    grid-template-columns: 1fr;
	}
	.gridblock-divide .column-1 .content-inner{
		max-width: 100%;
	}
	.gridblock-divide .column-2 {
	    padding: 20px;
	}
	.account-card {
	    max-width: 100%;
	}
	.form-group{
		margin-top: 0 !important;
	}
	.footer-links li a{
		font-size: 17px;
	}
	.footer-links ul {
	    justify-content: center;
	    gap: 10px;
	}
	section.mainwraaper-sec{
		padding: 50px 0;
	    min-height: calc(100vh - 146px);
	}
	.header-main li:not(:last-child) {
	    margin-right: 15px;
	}
	header{
		padding: 10px 0;
	}
	footer{
		padding:20px 0;
	}
	.upload-photo{
		margin-bottom: 20px;
	}
	.wrapperblock .form-group{
		margin-top: 22px !important;
	}
	.list-creating-channel table thead th {
	    font-size: 18px;
	    padding: 15px 10px;
	}
	.list-creating-channel table tbody td{
		padding: 15px 10px;
		font-size: 16px;
	}
	.modal-content{
		padding: 0;
	}
	table.dataTable thead th, table.dataTable tbody td  {
		padding: 15px 20px 15px 10px !important;
	}
	table.dataTable thead th{
		font-size: 18px;

	}
	table.dataTable tbody td {
		font-size: 16px;
	}
	.list-creating-channel {
		border-radius: 30px;
	}
	#channel-table thead tr th:nth-child(1), #campaigns-table thead tr th:nth-child(1){
		min-width: 150px;
	}
	
}

@media (max-width:767px){
	.userimg{
		width: 40px;
    	height: 40px;
	}
	h4 {
	    font-size: 25px;
	    line-height: 35px;
	}
	h2 {
	    font-size: 35px;
	    line-height: 45px;
	}
	.logoimg img {
	    max-width: 250px;
	}
	.gridblock-divide .column-1 .content-inner p{
		font-size: 16px;
		line-height: 24px;
	}
	.account-card {
	    padding: 20px;
	}
	.account-card h3{
	    margin-bottom: 18px;
	}
	h3 {
	    font-size: 30px;
	    line-height: 40px;
	}
	.search-identify .logo img {
	    max-width: 200px;
	}
	.search-identify .logo {
	    margin-bottom: 20px;
	}
	.userimg{
		width:35px;
		height: 35px;
	}
	.inputWrapper button.search img{
		max-width: 20px;
	}
	.inputWrapper input.form-control{
		height: 45px;
		font-size: 14px;
	}
	h5 {
	    font-size: 22px;
	    line-height: 31px;
	}

	.btnsmall{
		padding: 9px 24px;
	    font-size: 14px;
	}
	.buttongroup-block {
	    gap: 10px;
	    flex-wrap: wrap;
	}
	.dataTables_filter label {
		margin-top: 0;
	}
	.dataTables_filter label {
		margin-top: 0 !important;
	}
	.list-creating-channel {
		border-radius: 20px;
	}
	    

	/*  */
	.inputWrapper .search{
		right: 15px;
		top: 8px;
	}

	.footer{
		transition: all ease-in-out 0.3s;
		position: fixed;
		z-index: 101;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		max-width: 280px;
		height: 100%;
		width: 100%;
		border-top: none;
		padding: 12px 0;
	}
	.footer .footer-links ul{
		flex-direction: column;
	}
	.footer .mobile_footer_header {
		align-items: center;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #C6C6C6;
	}
	.footer .mobile_footer_header .logo{
		display: flex;
		max-width: 100px;
	}
	.footer .mobile_footer_header .logo img{
		width: 100%;
		object-fit: contain;
	}

	section.mainwraaper-sec{
		padding: 50px 0;
		min-height: calc(100vh - 109px);
	}
	header{
		position: sticky;
		top: 0;
		z-index: 100;
		background: #fdfefe;
	}
	
}

@media (max-width:575px){
	.headingleft{
		margin-bottom: 15px;
	}
	h2 {
	    font-size: 30px;
	    line-height: 40px;
	}
	.buttongroup-block{
		justify-content: left !important;
	}
	.inputnone{
		display: none;
	}
	.select_area .select2-container {
		min-width: 80px;
	}
	.select_area .select2-container .select2-selection--single{
		height: 35px;
	}
	
	.qualificationGroup{
		flex-direction: column;
		align-items: start;
		gap: 0px;;
	}
	table.dataTable thead th{
		font-size: 16px;

	}
	table.dataTable tbody td {
		font-size: 14px;
	}
}

@media (max-width:400px){
	.headerbtn {
		height: 20px;
		width: 20px;
	}
	.header-main li:not(:last-child) {
		margin-right: 10px;
	}
	/* ------- */
	.select_area .select2-container {
		min-width: 70px;
		width: 70px !important;
	}
	.select_area .select2-container .select2-selection--single{
		height: 30px;
	}
	
	.flag-img{
		font-size: 12px;
	}

	.flag-img img {
		width: 16px;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		background-size: 10px !important;
		background-position: 5px center;
	}
}